---
import { getCollection } from 'astro:content';
import { formatDatetime } from '../lib/utils';

const certifications = await getCollection('certifications');
---

<div class="certifications-skills">
    <div class="content-certifications">
        {certifications.map((cert) => (
            <div class="card-certification">
                <h4 class="titlecard-certification">{cert.data.title}</h4>
                <div class="tecnologiescard-certification">
                    {cert.data.technologies?.map((tech) => (
                        <img 
                            src={`/public/${tech.toLowerCase()}_iconblue.svg`} 
                            alt={`${tech} logo`} 
                            class="icon-certification"
                        />
                    ))}
                </div>
                <div class="certification-details">
                    <p class="school">{cert.data.school}</p>
                    <p class="date">
                        {formatDatetime(cert.data.startDate)} - 
                        {cert.data.currentUni ? 'Present' : formatDatetime(cert.data.endDate)}
                    </p>
                </div>
            </div>
        ))}
    </div>
</div>

<style>
    :root {
        --verde_platzi: #0AE98A;
        --azul_platzi: #13161C;
        --violeta_platzi: #6750a4;
        --violeta-opacity: rgba(103, 80, 164, 0.2);
    }
    
    .content-certifications {
        width: 100%;
        height: auto;
        padding: 16px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        background: var(--verde_platzi);
        gap: 16px;
    }
    
    .card-certification {
        width: 200px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 2px dashed var(--azul_platzi);
        border-radius: 5px;
        padding: 16px;
        background: var(--violeta-opacity);
    }
    
    .titlecard-certification {
        font-size: 14px;
        color: var(--azul_platzi);
        margin-bottom: 8px;
        font-weight: bold;
    }
    
    .tecnologiescard-certification {
        display: flex;
        gap: 8px;
        flex-wrap: wrap;
        margin: 8px 0;
    }
    
    .icon-certification {
        width: 24px;
        height: 24px;
    }
    
    .certification-details {
        margin-top: 8px;
        font-size: 12px;
        color: var(--azul_platzi);
    }
    
    .school {
        font-weight: bold;
    }
    
    .date {
        font-style: italic;
    }
</style>